<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".NoteDetails"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".EditNoteActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".CreateNote"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".PasswordManagerPage"
            android:exported="false"
            android:label="All Notes" />
        <activity
            android:name=".GetYourPassword"
            android:exported="false"
            android:label="Get Random Password"
            android:parentActivityName=".MenuPage" />
        <activity
            android:name=".MenuPage"
            android:exported="false"
            android:label="Menu Page" />
        <activity
            android:name=".ForgotPasswordPage"
            android:exported="false"
            android:label="Get Your Password"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CreateAccountPage"
            android:exported="false"
            android:label="Create Your Account"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>